# Virtual environment
venv/
.env/
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
