@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-xl border border-gray-300 px-4 py-3 text-sm
           focus:outline-none focus:ring-2 focus:ring-sky-500
           transition;
  }

  .input-error {
    @apply border-red-500 focus:ring-red-500;
  }

  .label {
    @apply text-sm font-semibold text-gray-700;
  }

  .error {
    @apply text-xs text-red-500 mt-1;
  }

  .btn {
    @apply w-full rounded-xl bg-sky-600 py-3 text-white
           font-semibold hover:bg-sky-700
           disabled:opacity-60 disabled:cursor-not-allowed
           transition;
  }
  

}

